* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-image: url("https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2563.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid lightgray;
    align-items: center;
    margin-top: 30px;
    padding: 0 15px;
}

.img {
    width: 50px;
    height: 50px;
}

.register {
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}


.title {
    margin-top: 30px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title p {
    margin-top: -20px;
}

.input {
    border: 2px solid rgb(109, 85, 231);
    outline: none;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    color: black;
}


.button {
    padding: 18px;
    border: none;
    border-radius: 10px;
    background-color: rgb(109, 85, 231);
    color: white;
    margin-left: 20px;
    cursor: pointer;
    font-size: 20px;
}

.short-url span {
    color: rgb(255, 255, 255);

}

.short-url {
    text-align: left;
    margin-top: 50px;
    width: 63%;
    font-size: 25px;
}

.short-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.short-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 100%;
}

.url-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}